body {
  font-family: Arial, Helvetica, Tahoma, "microsoft yahei", sans-serif;
  color: #666;
  margin: 0px;
  font-size: 10px;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
dl,
dd {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  vertical-align: bottom;
}
a {
  color: #2e2e2e;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
section {
  min-width: 1280px;
}
header {
  width: 100%;
  min-width: 1280px;
  height: 80px;
  background: #fff;
}
header .content {
  width: 1100px;
  margin: 0 auto;
  height: 80px;
  position: relative;
}
header .content > a {
  width: 179px;
  height: 65px;
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -32.5px;
  background-image: url(../img/top-logo.png);
}
header .content ul {
  position: absolute;
  right: 0px;
  bottom: 18px;
}
header .content ul li {
  float: left;
  margin-left: 38px;
  color: #323232;
  font-size: 16px;
}
header .content ul li a {
  transition: all .3s ease;
}
header .content ul li:hover a {
  color: #73d196;
}
.banner {
  width: 100%;
  height: 400px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  position: relative;
}
.banner > div {
  width: 350px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -175px;
  background-image: url(../img/Operating-the-product.png);
  border-radius: 50%;
}
.banner > span {
  width: 318px;
  height: 324px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -161px;
  margin-left: -160px;
  background-image: url(../img/light-aboutus.png);
}
@-webkit-keyframes breathe {
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes breathe {
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}
.animate-breathe {
  animation: 'breathe' 2.7s ease-in-out 0s infinite alternate;
  -webkit-animation: 'breathe' 2.7s ease-in-out 0s infinite alternate;
}
@-webkit-keyframes breathe2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes breathe2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
.animate-breathe2 {
  animation: 'breathe2' 2.7s ease-in-out 0s infinite alternate;
  -webkit-animation: 'breathe2' 2.7s ease-in-out 0s infinite alternate;
}
.product {
  margin: 50px auto 50px;
  width: 1100px;
  min-width: 1100px;
  text-align: center;
  position: relative;
}
.product p {
  color: #555555;
}
.product p.title {
  font-size: 37px;
  letter-spacing: 2px;
}
.product p.title-s {
  font-size: 16px;
  margin: 16px 0;
  font-weight: 600;
  font-family: "microsoft yahei";
}
.product p.text {
  font-size: 16px;
  text-align: left;
  line-height: 34px;
  text-indent: 32px;
  letter-spacing: .5px;
}
.product .line {
  border-top: 4px solid #73d196;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 23px;
}
.product > div {
  margin: 11px 0;
}
.product > ul {
  width: 366px;
  margin: 40px auto 0px;
}
.product > ul li {
  float: left;
  text-align: center;
  margin: 0 25px;
  font-size: 18px;
  color: #555555;
  cursor: pointer;
  transition: all .5s ease;
}
.product > ul li:hover {
  color: #f67a39;
}
.product > ul li.active {
  color: #f67a39;
}
.product .choose-line {
  border-color: #f67a39;
  width: 70px;
  position: relative;
  margin-top: 28px;
  left: 0px;
  transition: all .5s ease;
}
@-webkit-keyframes upIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes upIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.animate-up {
  animation: 'upIn' 1s ease-in-out 0s 1;
  -webkit-animation: 'upIn' 1s ease-in-out 0s 1;
}
footer {
  width: 100%;
  min-width: 1280px;
  background: #262626;
  height: 310px;
}
footer .content {
  margin: 0 auto;
  width: 1100px;
  text-align: center;
  padding-top: 30px;
}
footer .content > a {
  width: 158px;
  height: 57px;
  display: block;
  background: url(../img/logo.png);
  margin: 0 auto;
  margin-bottom: 10px;
}
footer .content p {
  font-size: 12px;
  color: #939393;
  letter-spacing: .5px;
}
footer .content > ul {
  margin: 36px auto 25px;
  width: 132px;
}
footer .content > ul li {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 8px;
}
footer .content > ul li:nth-child(1) {
  background: url(../img/sprite1.png) no-repeat -27px -145px;
}
footer .content > ul li:nth-child(2) {
  background: url(../img/sprite1.png) no-repeat -94px -145px;
}
footer > div:nth-child(2) {
  border-top: 1px solid #535353;
  font-size: 12px;
  color: #939393;
  letter-spacing: .5px;
  text-align: center;
  line-height: 22px;
  padding-top: 12px;
}
