body {
  font-family: Arial, Helvetica, Tahoma, "microsoft yahei", sans-serif;
  color: #666;
  margin: 0px;
  font-size: 10px;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
dl,
dd {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  vertical-align: bottom;
}
a {
  color: #2e2e2e;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
section {
  min-width: 1280px;
}
header {
  width: 100%;
  min-width: 1280px;
  height: 80px;
  background: #fff;
}
header .content {
  width: 1100px;
  margin: 0 auto;
  height: 80px;
  position: relative;
}
header .content > a {
  width: 179px;
  height: 65px;
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -32.5px;
  background-image: url(../img/top-logo.png);
}
header .content ul {
  position: absolute;
  right: 0px;
  bottom: 18px;
}
header .content ul li {
  float: left;
  margin-left: 38px;
  color: #323232;
  font-size: 16px;
}
header .content ul li a {
  transition: all .3s ease;
}
header .content ul li:hover a {
  color: #73d196;
}
.banner {
  width: 100%;
  height: 400px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  position: relative;
}
.banner > div {
  width: 298px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -149px;
  margin-left: -150px;
  background-image: url(../img/Contact-us.png);
  border-radius: 50%;
}
.banner > span {
  width: 318px;
  height: 324px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -161px;
  margin-left: -160px;
  background-image: url(../img/light-aboutus.png);
}
@-webkit-keyframes breathe {
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes breathe {
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}
.animate-breathe {
  animation: 'breathe' 2.7s ease-in-out 0s infinite alternate;
  -webkit-animation: 'breathe' 2.7s ease-in-out 0s infinite alternate;
}
@-webkit-keyframes breathe2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes breathe2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
.animate-breathe2 {
  animation: 'breathe2' 2.7s ease-in-out 0s infinite alternate;
  -webkit-animation: 'breathe2' 2.7s ease-in-out 0s infinite alternate;
}
.contact-us {
  margin: 50px auto 50px;
  width: 1100px;
  min-width: 1100px;
  text-align: center;
  position: relative;
}
.contact-us p {
  color: #555555;
}
.contact-us p.title {
  font-size: 37px;
  letter-spacing: 2px;
}
.contact-us p.title-s {
  font-size: 16px;
  margin: 16px 0;
  font-weight: 600;
  font-family: "microsoft yahei";
}
.contact-us p.text {
  font-size: 16px;
  text-align: left;
  line-height: 34px;
  text-indent: 32px;
  letter-spacing: .5px;
}
.contact-us .line {
  border-top: 4px solid #73d196;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 23px;
}
.contact-us ul {
  width: 986px;
  margin: 8.33333333% auto 0;
}
@media screen and (max-width: 1367px) {
  .contact-us ul {
    margin-top: 20px;
  }
}
.contact-us ul li {
  float: left;
}
.contact-us ul li:nth-child(1) > span {
  background: url(../img/sprite1.png) no-repeat -4px -23px;
}
.contact-us ul li:nth-child(2) > span {
  background: url(../img/sprite1.png) no-repeat -118px -23px;
}
.contact-us ul li:nth-child(3) > span {
  background: url(../img/sprite1.png) no-repeat -190px -136px;
}
.contact-us ul li:nth-child(2) {
  margin: 0 190px;
}
.contact-us ul li > span {
  display: block;
  float: left;
  width: 62px;
  height: 62px;
}
.contact-us ul li p {
  float: left;
  margin-left: 30px;
  font-size: 16px;
  text-align: left;
  color: #000;
  margin-top: 6px;
}
.contact-us ul li p > span {
  display: block;
  font-size: 14px;
  margin-top: 18px;
}
@-webkit-keyframes upIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes upIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.animate-up {
  animation: 'upIn' 1s ease-in-out 0s 1;
  -webkit-animation: 'upIn' 1s ease-in-out 0s 1;
}
footer {
  width: 100%;
  min-width: 1280px;
  background: #262626;
  height: 310px;
}
footer .content {
  margin: 0 auto;
  width: 1100px;
  text-align: center;
  padding-top: 30px;
}
footer .content > a {
  width: 158px;
  height: 57px;
  display: block;
  background: url(../img/logo.png);
  margin: 0 auto;
  margin-bottom: 10px;
}
footer .content p {
  font-size: 12px;
  color: #939393;
  letter-spacing: .5px;
}
footer .content > ul {
  margin: 36px auto 25px;
  width: 132px;
}
footer .content > ul li {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 8px;
}
footer .content > ul li:nth-child(1) {
  background: url(../img/sprite1.png) no-repeat -27px -145px;
}
footer .content > ul li:nth-child(2) {
  background: url(../img/sprite1.png) no-repeat -94px -145px;
}
footer > div:nth-child(2) {
  border-top: 1px solid #535353;
  font-size: 12px;
  color: #939393;
  letter-spacing: .5px;
  text-align: center;
  line-height: 22px;
  padding-top: 12px;
}
#allmap {
  width: 1000px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
  font-family: "΢���ź�";
}
.map {
  margin: 0 auto;
  width: 1000px;
  height: 500px;
  position: relative;
  box-shadow: 0 9px 30px -6px rgba(0, 0, 0, 0.2), 0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 10px 20px -10px rgba(0, 0, 0, 0.04);
}
.map > p {
  position: absolute;
  width: 280px;
  height: 22px;
  line-height: 22px;
  background: #fff;
  bottom: 0px;
  left: 0px;
  color: #000;
  font-size: 16px;
  box-sizing: border-box;
  letter-spacing: .5px;
}
